@using ETrade_BootCamp.ViewModels

@{
    ViewData["Title"] = "Product";
}


@model List<ProductListViewModel>

@*Controllerdan ViewBag ile gelen içi dolu veriyi View kısmında ekrana yazdırıyoruz*@
<h2>@ViewBag.OrderNo nolu Siparişin Ürünleri</h2>    
@*<h2>@ViewContext.RouteData.Values["id"] nolu Siparişin Ürünleri</h2>*@

<div class="text-center">
    <h1 class="display-4">Ürünler Listesi</h1>
</div>

<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Ürün İsmi </th>
            <th>Sipariş Verilen Miktar</th>       
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName </td>
                <td>@product.Quantity </td>       
            </tr>
        }
    </tbody>
</table>
