@model List<SelectListItem>

<select name="Reports" asp-items="Model">
    <option value="0">Bir amir seçiniz</option>
</select>


@*
    Modelden Reports u getircek
name atributeı Reports olana gidecek*@